@importtheme "_base";

QWidget {
	background: #2D2D30;
	color: #F1F1F1;
}

QCheckBox,
QComboBox,
QLabel,
QGroupBox,
QHeaderView,
QLineEdit,
QPushButton,
QRadioButton,
QSpinBox,
QTabBar {
	font-family: "Segoe UI";
	font-size: 12px;
}

QCheckBox:disabled {
	color: #999999;
}
QCheckBox::indicator {
	background: #252526;
	border: 1px solid #999999;
	width: 14px;
	height: 14px;
}
QCheckBox::indicator:hover {
	background: #1F1F20;
	border-color: #007ACC;
}
QCheckBox::indicator:focus {
	background: #1F1F20;
	border-color: #007ACC;
}
QCheckBox::indicator:pressed {
	background: #007ACC;
}
QCheckBox::indicator:disabled {
	background: #2D2D30;
	border-color: #434346;
}
QCheckBox::indicator:checked {
	image: url("$RELPATH/icons/qcheckbox_indicator_checked.png");
}
QCheckBox::indicator:checked:disabled {
	image: url("$RELPATH/icons/qcheckbox_indicator_checked_disabled.png");
}
QCheckBox::indicator:indeterminate {
	image: url("$RELPATH/icons/qcheckbox_indicator_indeterminate.png");
}
QCheckBox::indicator:indeterminate:disabled {
	image: url("$RELPATH/icons/qcheckbox_indicator_indeterminate_disabled.png");
}

QComboBox {
	background: #333337;
	border: 1px solid #434346;
	padding: 1px 4px 2px 4px;
}
QComboBox:hover {
	background: #3F3F46;
}
QComboBox:editable:hover {
	border-color: #007ACC;
}
QComboBox:editable:focus {
	border-color: #007ACC;
}
QComboBox::drop-down {
	background: transparent;
	border-left: 1px solid transparent;
	image: url("$RELPATH/icons/qtoolbutton_menu-arrow.png");
	padding: 6px 2px;
}
QComboBox::drop-down:hover {
	background: #1F1F20;
	border-left: 1px solid #007ACC;
	image: url("$RELPATH/icons/qtoolbutton_menu-arrow_hover.png");
}
QComboBox::drop-down:open {
	background: #007ACC;
	border-left: 1px solid transparent;
	image: url("$RELPATH/icons/qtoolbutton_menu-arrow_pressed.png");
}
QComboBox QAbstractItemView {
	background: #1B1B1C;
	border: 1px solid #333337;
	padding: 0px 2px;
	selection-background-color: #3F3F46;
	outline: 0;
}
QComboBox QLineEdit {
	background: transparent !important;
	border: none;
}
QComboBox QLineEdit:focus {
	background: transparent;
}

QGroupBox {
	border: 1px solid #434346;
	margin-top: 2ex;
	padding-top: 4px;
}
QGroupBox::title {
	left: 8px;
	padding: 0px 2px;
	subcontrol-origin: margin;
}

QHeaderView {
	background: #252526;
	border-bottom: 1px solid #3F3F46;
}
QHeaderView::section {
	background: #252526;
	border: none;
	border-bottom: 1px solid #3F3F46;
	border-right: 1px solid #3F3F46;
	padding: 3px 3px;
}
QHeaderView::section:hover {
	background: #3E3E40;
}

QLineEdit {
	background: #333337;
	border: 1px solid #434346;
}
QLineEdit:hover {
	background: #3F3F46;
	border-color: #007ACC;
}
QLineEdit:focus {
	background: #3F3F46;
	border-color: #007ACC;
}
QLineEdit:disabled {
	background: transparent;
	border-color: #434346;
	color: #656565;
}

QListView {
	background: #252526;
	border: 1px solid #333337;
	outline: 0;
}
QListView::item {
	border: none;
}
QListView::item:selected {
	background: #3F3F46;
	color: #F1F1F1;
}
QListView::item:selected:active {
	background: #007ACC;
}

QMenu {
	background: #1B1B1C;
	border: 1px solid #333337;
	padding: 2px;
}
QMenu::item {
	background: #1B1B1C;
	margin: 0px;
	padding: 4px 18px 3px 32px;
}
QMenu::item:selected:!disabled {
	background: #333334;
}
QMenu::item:disabled {
	color: #656565;
}
QMenu::icon {
	margin: 0px 0px 0px 8px;
}
QMenu::indicator:non-exclusive:checked {
	background: #2D2D30;
	height: 18px;
	image: url("$RELPATH/icons/qmenu_indicator_non-exclusive_checked.png");
	margin: 2px 3px;
	width: 18px;
}
QMenu::indicator:non-exclusive:checked:selected {
	background: #3E3E40;
	image: url("$RELPATH/icons/qmenu_indicator_non-exclusive_checked_selected.png");
}
QMenu::right-arrow {
	image: url("$RELPATH/icons/qmenu_right-arrow.png");
	margin-right: 2px;
}
QMenu::right-arrow:selected {
	image: url("$RELPATH/icons/qmenu_right-arrow_selected.png");
}
QMenu::right-arrow:disabled {
	image: url("$RELPATH/icons/qmenu_right-arrow_disabled.png");
}
QMenu::separator {
	background: #333337;
	height: 1px;
	margin: 2px 3px 2px 28px;
}

QMenuBar {
	background: #2D2D30;
	padding: 1px 0px 4px 0px;
}
QMenuBar::item {
	background: #2D2D30;
	border: 1px solid #2D2D30;
	padding: 0px 9px 1px 9px;
}
QMenuBar::item:selected {
	background: #3E3E40;
}
QMenuBar::item:pressed {
	background: #1B1B1C;
	border: 1px solid #333337;
	border-bottom: 1px solid #1B1B1C;
}

QPushButton {
	background: #3F3F46;
	border: 1px solid #555555;
	margin: 1px;
	padding: 3px 3px;
}
QPushButton:hover {
	border-color: #0097FB;
}
QPushButton:focus {
	border-color: #007ACC;
}
QPushButton:pressed {
	background: #007ACC;
	border-color: #0097FB;
}
QPushButton:disabled {
	background: #2D2D30;
	border-color: #3F3F46;
	color: #656565;
}
QPushButton:default {
	border-color: #007ACC;
}

QRadioButton:disabled {
	color: #999999;
}
QRadioButton::indicator {
	background: #252526;
	border: 1px solid #999999;
	border-radius: 8px;
	width: 14px;
	height: 14px;
}
QRadioButton::indicator:hover {
	background: #1F1F20;
	border-color: #007ACC;
}
QRadioButton::indicator:focus {
	background: #1F1F20;
	border-color: #007ACC;
}
QRadioButton::indicator:pressed {
	background: #007ACC;
}
QRadioButton::indicator:disabled {
	background: #2D2D30;
	border-color: #434346;
}
QRadioButton::indicator:checked {
	image: url("$RELPATH/icons/qradiobutton_indicator.png");
}
QRadioButton::indicator:checked:disabled {
	image: url("$RELPATH/icons/qradiobutton_indicator_disabled.png");
}

QScrollBar {
	background: #3E3E42;
}
QScrollBar:horizontal {
	margin: 0px 16px;
}
QScrollBar:vertical {
	margin: 16px 0px;
}
QScrollBar::sub-line {
	background: #3E3E42;
	subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
	width: 16px;
	subcontrol-position: left;
}
QScrollBar::sub-line:vertical {
	height: 16px;
	subcontrol-position: top;
}
QScrollBar::sub-page {
	background: transparent;
}
QScrollBar::handle {
	background: #686868;
}
QScrollBar::handle:horizontal {
	margin: 4px 0px;
	min-width: 8px;
}
QScrollBar::handle:vertical {
	margin: 0px 4px;
	min-height: 8px;
}
QScrollBar::handle:hover {
	background: #9E9E9E;
}
QScrollBar::handle:pressed {
	background: #EFEBEF;
}
QScrollBar::add-page {
	background: transparent;
}
QScrollBar::add-line {
	background: #3E3E42;
	subcontrol-origin: margin;
}
QScrollBar::add-line:horizontal {
	subcontrol-position: right;
	width: 16px;
}
QScrollBar::add-line:vertical {
	height: 16px;
	subcontrol-position: bottom;
}
QScrollBar::left-arrow:horizontal {
	image: url("$RELPATH/icons/qscrollbar_left-arrow.png");
}
QScrollBar::left-arrow:horizontal:hover {
	image: url("$RELPATH/icons/qscrollbar_left-arrow_hover.png");
}
QScrollBar::left-arrow:horizontal:pressed {
	image: url("$RELPATH/icons/qscrollbar_left-arrow_pressed.png");
}
QScrollBar::right-arrow:horizontal {
	image: url("$RELPATH/icons/qscrollbar_right-arrow.png");
}
QScrollBar::right-arrow:horizontal:hover {
	image: url("$RELPATH/icons/qscrollbar_right-arrow_hover.png");
}
QScrollBar::right-arrow:horizontal:pressed {
	image: url("$RELPATH/icons/qscrollbar_right-arrow_pressed.png");
}
QScrollBar::up-arrow:vertical {
	image: url("$RELPATH/icons/qscrollbar_up-arrow.png");
}
QScrollBar::up-arrow:vertical:hover {
	image: url("$RELPATH/icons/qscrollbar_up-arrow_hover.png");
}
QScrollBar::up-arrow:vertical:pressed {
	image: url("$RELPATH/icons/qscrollbar_up-arrow_pressed.png");
}
QScrollBar::down-arrow:vertical {
	image: url("$RELPATH/icons/qscrollbar_down-arrow.png");
}
QScrollBar::down-arrow:vertical:hover {
	image: url("$RELPATH/icons/qscrollbar_down-arrow_hover.png");
}
QScrollBar::down-arrow:vertical:pressed {
	image: url("$RELPATH/icons/qscrollbar_down-arrow_pressed.png");
}

QSpinBox {
	background: #333337;
	border: 1px solid #434346;
}
QSpinBox:hover {
	background: #3F3F46;
	border-color: #007ACC;
}
QSpinBox:focus {
	background: #3F3F46;
	border-color: #007ACC;
}

QSplitter, QSplitterHandle {
	min-height: 6px;
	min-width: 6px;
}

QStatusBar:item {
	border: none;
}
QStatusBar QWidget {
	font-size: 11px;
	margin: 0px 2px;
}

QTabBar {
	border-bottom: 2px solid #3F3F46;
	qproperty-drawBase: 0;
}
QTabBar:active {
	border-bottom-color: #007ACC;
}
QTabBar::tab {
	background: transparent;
	text-align: left;
	padding: 2px 4px 1px 4px;
	margin-bottom: 2px;
	text-align: left;
}
QTabBar::tab:hover {
	background: #1C97EA;
	color: #ffffff;
}
QTabBar::tab:selected {
	background: #3F3F46;
	color: #F1F1F1;
}
QTabBar::tab:selected:active {
	background: #007ACC;
	color: #FFFFFF;
}
QTabBar::tab:disabled {
	color: #656565;
}
QTabBar::close-button {
	image: none;
}
QTabBar::close-button:hover {
	background: #52B0EF;
	image: url("$RELPATH/icons/qtabbar_close-button_hover.png");
}
QTabBar::close-button:pressed {
	background: #0E6198;
	image: url("$RELPATH/icons/qtabbar_close-button_hover.png");
}
QTabBar::close-button:selected {
	image: url("$RELPATH/icons/qtabbar_close-button_selected.png");
}
QTabBar::close-button:selected:hover {
	background: #555555;
	image: url("$RELPATH/icons/qtabbar_close-button_selected_hover.png");
}
QTabBar::close-button:selected:pressed { /* never seen at the moment, as window activates on click */
	background: #1B1B1C;
	image: url("$RELPATH/icons/qtabbar_close-button_selected_hover.png");
}
QTabBar::close-button:selected:active {
	image: url("$RELPATH/icons/qtabbar_close-button_selected_active.png");
}
QTabBar::close-button:selected:active:hover {
	background: #1C97EA;
	image: url("$RELPATH/icons/qtabbar_close-button_selected_active_hover.png");
}
QTabBar::close-button:selected:active:pressed {
	background: #0E6198;
	image: url("$RELPATH/icons/qtabbar_close-button_selected_active_hover.png");
}

QTableView {
	background: #252526;
	border: 1px solid #3F3F46;
	outline: 0;
}
QTableView::item:selected {
	background: #3F3F46;
	color: #FFFFFF;
}
QTableView::item:selected:active {
	background: #007ACC;
	color: #FFFFFF;
}
QTableView QHeaderView::section:vertical {
	border: none;
	padding: 0px;
}

QToolBar {
	background: #2D2D30;
	border: 1px solid #2D2D30;
	margin: 2px;
	padding: 2px;
}
QToolBar::handle {
	image: url("$RELPATH/icons/qtoolbar_handle.png");
}
QToolBar::handle:vertical {
	image: url("$RELPATH/icons/qtoolbar_handle_vertical.png");
}

QToolButton {
	background: #2D2D30;
	border: none;
	padding: 2px 1px 1px 2px;
	margin: 1px;
}
QToolButton:hover {
	background: #3E3E40;
}
QToolButton:checked {
	border: 1px solid #3399FF;
	margin: 0px;
}
QToolButton:pressed {
	background: #007ACC;
}
QToolButton[popupMode="1"] {
	padding-right: 13px;
}
QToolButton::menu-button {
	background: #2D2D30;
	border-left: 1px solid #2D2D30;
}
QToolButton::menu-button:hover {
	background: #3E3E40;
}
QToolButton::menu-button:pressed {
	background: #007ACC;
	border-left: 1px solid #007ACC;
}
QToolButton::menu-arrow {
	image: url("$RELPATH/icons/qtoolbutton_menu-arrow.png");
}
QToolButton::menu-arrow:hover {
	image: url("$RELPATH/icons/qtoolbutton_menu-arrow_hover.png");
}
QToolButton::menu-arrow:pressed {
	image: url("$RELPATH/icons/qtoolbutton_menu-arrow_pressed.png");
}

QToolTip {
	background: #F1F2F7;
	border: 1px solid #767676;
	color: #575757;
	/* padding: 0px 3px; do not use, creates extra padding in buggy Qt version of IDA 7.3 */
}

QTreeView {
	background: #252526;
	border: 1px solid #3F3F46;
	outline: 0;
}
QTreeView::item:hover {
	background: transparent;
}
QTreeView::item:selected {
	background: #3F3F46;
	color: #FFFFFF;
}
QTreeView::item:selected:active {
	background: #007ACC;
	color: #FFFFFF;
}
QTreeView::branch:has-children {
	image: url("$RELPATH/icons/qtreeview_branch_has-children.png");
}
QTreeView::branch:has-children:closed {
	image: url("$RELPATH/icons/qtreeview_branch_has-children_closed.png");
}
QTreeView::branch:has-children:hover {
	image: url("$RELPATH/icons/qtreeview_branch_has-children_hover.png");
}
QTreeView::branch:has-children:closed:hover {
	image: url("$RELPATH/icons/qtreeview_branch_has-children_closed_hover.png");
}

/* IDA Controls */

/* Python/IDC switch button */
CLIWidget > QGroupBox > QPushButton {
	padding-left: 0px;
	padding-right: 0px;
}

CustomIDAMemo,
hexview_t,
IDAView {
	border: 1px solid #3F3F46;
}

DockAreaDragTitle, DockWidgetTitle {
	border: none;
	background: #3F3F46;
	color: #D0D0D0;
	margin: 0px;
}
DockAreaDragTitle:active, DockWidgetTitle:active {
	background: #007ACC;
	color: #FFFFFF;
}
DockWidgetTitle[active="true"] {
    background-color: #007ACC;
}
DockAreaDragTitle QLabel, DockWidgetTitle QLabel {
	background: none;
	color: #FFFFFF;
}
DockAreaDragTitle QAbstractButton, DockWidgetTitle QAbstractButton {
	background: transparent;
	border: none;
	margin: 0px;
	padding: 0px;
}
DockAreaDragTitle QAbstractButton:hover, DockWidgetTitle QAbstractButton:hover {
	background: #393939;
}
DockAreaDragTitle QAbstractButton:active:hover, DockWidgetTitle QAbstractButton:active:hover {
	background: #1C97EA;
}
DockAreaDragTitle QAbstractButton, DockWidgetTitle QAbstractButton[toolTip="Close"] {
	qproperty-icon: url("$RELPATH/icons/dockwidgettitlebutton_close.png");
}
DockWidgetTitle QAbstractButton[toolTip="Fullscreen"] {
	qproperty-icon: url("$RELPATH/icons/dockwidgettitlebutton_fullscreen.png");
}
DockWidgetTitle QAbstractButton[toolTip="Float"] {
	qproperty-icon: url("$RELPATH/icons/dockwidgettitlebutton_float.png");
}
/* Following active icons do not have any effect, despite other properties working for this state */
DockAreaDragTitle QAbstractButton:active, DockWidgetTitle QAbstractButton[toolTip="Close"]:active {
	qproperty-icon: url("$RELPATH/icons/dockwidgettitlebutton_close_active.png");
}
DockWidgetTitle QAbstractButton[toolTip="Fullscreen"]:active {
	qproperty-icon: url("$RELPATH/icons/dockwidgettitlebutton_fullscreen_active.png");
}
DockWidgetTitle QAbstractButton[toolTip="Float"]:active {
	qproperty-icon: url("$RELPATH/icons/dockwidgettitlebutton_float_active.png");
}

IDAMainWindow IDAView {
	border-top: none; /* do not offset disassembly from text arrows on left */
}
IDAMainWindow > QSplitter {
	margin: 6px;
}
IDAMainWindow > QStatusBar {
	background: #007ACC;
}
IDAMainWindow > QStatusBar QWidget {
	background: transparent;
	color: #ffffff;
	font-size: 12px;
}

TCpuRegs IDALabel {
	color: #ffffff;
}

/* IDA Colors */

CustomIDAMemo {
	qproperty-graph-bg-bottom: #252526;
	qproperty-graph-bg-top: #252526;
	qproperty-graph-edge-current: #007FD4;
	qproperty-graph-edge-high: #c586c0;
	qproperty-graph-edge-no: #D85050;
	qproperty-graph-edge-normal: #616162;
	qproperty-graph-edge-yes: #57A64A;
	qproperty-graph-node-foreign: #D85050;
	qproperty-graph-node-frame-group: #ffff00;
	qproperty-graph-node-high1: #ccffff;
	qproperty-graph-node-high2: #ccffcc;
	qproperty-graph-node-shadow: #000000;
	qproperty-graph-node-title-current: #094771;
	qproperty-graph-node-title-normal: #2D2D2D;
	qproperty-graph-node-title-selected: #b1f9f9;
	qproperty-line-bg-bpt-disabled: #6E1A12;
	qproperty-line-bg-bpt-enabled: #b30f00;
	qproperty-line-bg-bpt-unavailable: #6E1A12;
	qproperty-line-bg-default: #1e1e1e;
	qproperty-line-bg-highlight: #4C555E;
	qproperty-line-bg-selected: #264F78;
	qproperty-line-fg-alt-opnd: #9CDCFE;
	qproperty-line-fg-asm-directive: #9cdcfe;
	qproperty-line-fg-automatic-comment: #808080;
	qproperty-line-fg-charlit-in-data: #ce9178;
	qproperty-line-fg-charlit-in-insn: #d7ba7d;
	qproperty-line-fg-code-name: #dcdcaa;
	qproperty-line-fg-code-xref-to-tail: #D85050;
	qproperty-line-fg-code-xref: #6a9955;
	qproperty-line-fg-collapsed-line: #6a9955;
	qproperty-line-fg-data-xref-to-tail: #808000;
	qproperty-line-fg-data-xref: #569cd6;
	qproperty-line-fg-default: #96b788;
	qproperty-line-fg-demangled-name: #dcdcaa;
	qproperty-line-fg-dummy-code-name: #9cdcfe;
	qproperty-line-fg-dummy-data-name: #9cdcfe;
	qproperty-line-fg-dummy-unknown-name: #9cdcfe;
	qproperty-line-fg-error: #010101;
	qproperty-line-fg-extra-line: #dcdcaa;
	qproperty-line-fg-hidden: #d4d4d4;
	qproperty-line-fg-import-name: #c586c0;
	qproperty-line-fg-insn: #d4d4d4;
	qproperty-line-fg-keyword: #c586c0;
	qproperty-line-fg-libfunc: #9CFEFE;
	qproperty-line-fg-line-prefix: #c0c0c0;
	qproperty-line-fg-locvar: #9cdcfe;
	qproperty-line-fg-macro: #c586c0;
	qproperty-line-fg-numlit-in-data: #6a9955;
	qproperty-line-fg-numlit-in-insn: #6a9955;
	qproperty-line-fg-opcode-byte: #b5cea8;
	qproperty-line-fg-patched-bytes: #804040;
	qproperty-line-fg-punctuation: #d4d4d4;
	qproperty-line-fg-register-name: #9cdcfe;
	qproperty-line-fg-regular-comment: #6a9955;
	qproperty-line-fg-regular-data-name: #9cdcfe;
	qproperty-line-fg-repeatable-comment: #808080;
	qproperty-line-fg-segment-name: #d4d4d4;
	qproperty-line-fg-strlit-in-data: #ce9178;
	qproperty-line-fg-strlit-in-insn: #57A64A;
	qproperty-line-fg-unknown-name: #00ffff;
	qproperty-line-fg-unsaved-changes: #ff8000;
	qproperty-line-fg-void-opnd: #d7ba7d;
	qproperty-line-pfx-current-item: #f1f1f1;
	qproperty-line-pfx-current-line: #f1f1f1;
	qproperty-line-pfx-data: #858585;
	qproperty-line-pfx-extern: #c586c0;
	qproperty-line-pfx-func: #569cd6;
	qproperty-line-pfx-insn: #D85050;
	qproperty-line-pfx-libfunc: #9CFEFE;
	qproperty-line-pfx-unexplored: #808000;
}
CustomIDAMemo[debugging="true"] {
	qproperty-line-bg-default: #1e1e1e;
	qproperty-line-bgovl-current-ip: #4b4b18;
}
CustomIDAMemo[hints="true"] {
	qproperty-line-bg-default: #252526;
}

TextArrows {
	qproperty-jump-external-to-function: #D85050;
	qproperty-jump-in-function: #404040;
	qproperty-jump-target: #57A64A;
	qproperty-jump-under-cursor: #707070;
	qproperty-register-target: #569cd6;
}

TCpuRegs {
	qproperty-register-defined: #858585;
	qproperty-register-changed: #569cd6;
	qproperty-register-edited: #C586C0;
	qproperty-register-unavailable: #808080;
}

navband_t {
	qproperty-lib-function: #9CFEFE;
	qproperty-function: #00a2e8;
	qproperty-code: #b97a57;
	qproperty-data: #c0c0c0;
	qproperty-undefined: #b6b66b;
	qproperty-extern: #c586c0;
	qproperty-error: #ff5b5b;
	qproperty-gap: transparent;
	qproperty-cursor: #ffff7f;
	qproperty-auto-analysis-cursor: #ffaa00;
	qproperty-lumina-function: #32cd32;
}

TextEdit {
	qproperty-keyword1-fg: #9CDCFE;
	qproperty-keyword2-fg: #C586C0;
	qproperty-keyword3-fg: #D85050;
	qproperty-string-fg: #CE9178;
	qproperty-comment-fg: #6A9955;
	qproperty-preprocessor-fg: #9CDCFE;
	qproperty-number-fg: #008b8b;
}

TChooser {
	qproperty-highlight-bg-default: #613214;
	qproperty-highlight-bg-selected: #1B4358;
}
