@importtheme "_base";

/* Common properties */
QWidget {
	background-color: #1E1E1E;
	color: #D4D4D4;
}
IDAView {
	border: none;
	border-bottom: 1px solid #414141;
}
hexview_t {
	border: none;
}
QToolBar {
	/* Toolbar */
	background-color: #333;
	border: none;
	padding: 4px;
	spacing: 4px;
}
QToolBar:active {
	background-color: #3C3C3C;
}
QToolBar QWidget {
	background: transparent;
}
QToolBar:handle {
	image: none;
	padding-right: 8px;
	padding-left: 0;
	width: 0px;
}
IDAMainWindow > QStatusBar {
	min-height: 0;
	height: 22px;
	padding-left: 7px;
	background: #007acc;
}
IDAMainWindow > QStatusBar:item {
	border: none;
}
IDAMainWindow > QStatusBar QWidget {
	font-family: 'Segoe UI', 'Helvetica Neue';
	font-size: 13px;
	color: #fff;
	padding-left: 17px;
	padding-bottom: 2px;
}

/* Buttons */
QPushButton {
	background: #0E639C;
	border: 0px solid transparent;
	color: #FFFFFF;
	font-family: 'Segoe UI', 'Helvetica Neue';
	font-size: 13px;
	min-height: 25px;
	min-width: 50px;
	padding-bottom: 1px;
	text-align: center;
}
QPushButton:hover {
	background: #1177BB;
}
QPushButton:default {
	border: 0px solid transparent;
}
QPushButton:pressed {
	border: 0px solid transparent;
}
QTreeView {
	font-family: 'Segoe UI', 'Helvetica Neue';
	border: 1px solid #1B1F20;
}
QTreeView:item {
	font-family: 'Segoe UI', 'Helvetica Neue';
	font-size: 14px;
	height: 27.5px;
}
QTreeView:item:selected {
	background-color: #094771;
}

/* Single line edit */
QLineEdit {
	background: #3C3C3C;
	border: 1px solid transparent;
	color: #CCCCCC;
	font-family: 'Segoe UI', 'Helvetica Neue';
}
QLineEdit:focus {
	border: 1px solid #007FD4;
}

/* Dock widget without tabs */
QTabBar {
	font-family: 'Segoe UI', 'Helvetica Neue';
	background-color: #252526;
	qproperty-drawBase: 0;
}
QTabBar:tab {
	border-right: 1px solid #252526;
	background-color: #2D2D2D;
	height: 35px;
	min-width: 100px;
	font-size: 13px;
	padding-left: 8px;
	padding-right: 8px;
}
QTabBar:tab:selected {
	background-color: #1E1E1E;
}
QTabBar:close-button {
	/* For toolbar */
	image: url("$RELPATH/icons/close.png");
	icon-size: 20px;
	padding: 0px;
}

IDADockWidget
{
	qproperty-windowIcon: url("$RELPATH/icons/close.png");
}

/* Menu bar & items */
QMenuBar {
	font-family: 'Segoe UI', 'Helvetica Neue';
	font-size: 13px;
	background-color: #333;
	padding-left: 2px;
}
QMenuBar:active {
	background-color: #3C3C3C;
}
QMenuBar:item {
	background: transparent;
	color: #ccc;
	padding: 7px 9px;
}
QMenuBar:item:selected {
	background-color: #505050;
}

/* Table and headers */
QTableView {
	font-family: 'Segoe UI', 'Helvetica Neue';
	border: 0px solid #1B1F20;
	background-color: #252526;
}
QTableView:item {
	font-family: 'Segoe UI', 'Helvetica Neue';
	font-size: 13px;
	height: 27.5px;
}
QTableView:item:selected {
	border: none !important;
	background-color: #094771;
}
QTableView:section:item {
	background: #1e1e1e !important;
}
QHeaderView:section {
	background-color: #2D2D2D;
	border: none;
}
QHeaderView:section:horizontal {
	padding: 5px;
	border-left: 1px solid #2D3234;
}
QTableView QHeaderView:section:vertical {
	padding: 0;
	background: transparent;
}
QTableView QTableCornerButton:section {
	background: #2D3234;
	border: 0px outset #000;
}

QListView {
	border: 1px solid #1B1F20;
}
QListView:item {
	font-family: 'Segoe UI', 'Helvetica Neue';
	font-size: 13px;
	height: 27.5px;
}
QListView:item:selected {
	background-color: #094771;
}
QCheckBox {
	background-color: #D4D4D4;
}
QCheckBox,
QLabel,
QRadioButton {
	background: transparent;
}

/* Menu */
QMenu {
	font-size: 13px;
	background-color: #252526;
	padding: 8px 0px;
	/* fake shadow to be centered vertically and give contrast to background */
	border-left: 1px solid #151515;
	border-bottom: 1px solid #151515;
}
QMenu:item {
	margin-left: 1px;
	color: #cccccc;
	padding: 3px 40px 4px 36px;
}
QMenu:item:selected {
	background-color: #094771;
	color: #FFFFFF;
}
QMenu:right-arrow {
	image: url("$RELPATH/icons/menu.png");
	margin: 0px 12px;
}
QMenu:icon {
	padding-left: 20px;
	padding-top: 8px;
}
QMenu:separator {
	height: 1px;
	background: #616162;
	width: 1px;
	margin: 5px 10px;
}

/* Combobox which is editable or not editable */
QComboBox {
	background: #3C3C3C;
	border: 1px solid #3C3C3C;
	font-family: 'Segoe UI', 'Helvetica Neue';
	font-size: 13px;
	padding: 1px 4px 2px 4px;
}
QComboBox:focus,
QComboBox:on {
	border: 1px solid #007FD4;
}
QComboBox:editable {
	background: #1B1F20;
	border: 1px solid #007FD4;
}
QComboBox QLineEdit {
	background: #1B1F20;
	border: 0;
	padding: 0;
}
QComboBox:drop-down {
	subcontrol-origin: padding;
	subcontrol-position: top right;
	border: none;
	width: 20px;
}
QComboBox:drop-down:editable {
	subcontrol-origin: padding;
	subcontrol-position: top right;
	border: none;
	width: 20px;
}
QComboBox:down-arrow {
	image: url("$RELPATH/icons/expand.png");
	margin: 0;
}
QComboBox > QLineEdit {
	border: none;
	min-height: default;
}
QComboBox > QLineEdit:hover {
	border: none;
	min-height: default;
}
QComboBox > QLineEdit:focus {
	border: none;
	min-height: default;
}
QComboBox QAbstractItemView {
	background: #3c3c3c;
	outline: none;
	selection-background-color: #062f4a;
}
QComboBox:focus {
	border: 1px solid #007FD4;
}
QComboBox QLineEdit:focus {
	border-right: none;
}

/* Multiple line edit */
QTextEdit {
	background-color: #2D3234;
	border: 1px solid #1B1F20;
}
QTextEdit:focus {
	border: 1px solid #007FD4;
}

TNavBand > QPushButton, nav_scroll_button_t {
	border: none;
	background: transparent;
	min-height: default;
	min-width: default;
	padding: default;
	border-radius: default;
}
RegJumpButton {
	min-height: 0;
	min-width: 0;
	border: none;
	padding: 0;
}

/* Dock widget which has tabs */
DockWidgetTitle {
	font: 13px 'Segoe UI', 'Helvetica Neue';
	background: #252526;
	min-height: 0px;
	height: 35px;
	padding: 0px 5px 0px 5px;
	border: none;
}
DockWidgetTitle DockWidgetTitleButton {
	color: #fff;
	background: transparent;
	border: none;
	min-height: 0;
	min-width: 0;
	margin: 0;
	padding: 0;
}
DockWidgetTitle DockWidgetTitleButton:hover {
	background: transparent;
}
DockWidgetTitle DockWidgetTitleButton[toolTip="Close"] {
	qproperty-icon: url("$RELPATH/icons/close.png");
	icon-size: 20px;
}
DockWidgetTitle DockWidgetTitleButton[toolTip="Fullscreen"] {
	qproperty-icon: url("$RELPATH/icons/fullscreen.png");
	icon-size: 20px;
}
DockWidgetTitle DockWidgetTitleButton[toolTip="Float"] {
	qproperty-icon: url("$RELPATH/icons/float.png");
	icon-size: 20px;
}

EditContainer {
	border: 1px solid #1B1F20;
}
QSizeGrip {
	background: transparent;
}
QSplitter, QSplitterHandle {
	width: 1px;
	height: 1px;
	background: #414141;
}

/* Scrollbar */
QScrollBar {
	background-color: #1E1E1E;
	border: 0px solid #383838;
	margin: 0;
	padding: 0;
}
QScrollBar:horizontal {
	border-top-width: 1px;
	height: 8px;
}
QScrollBar:vertical {
	border-left-width: 1px;
	width: 8px;
}
QScrollBar:sub-line {
	width: 0;
	height: 0;
}
QScrollBar:add-line {
	width: 0;
	height: 0;
}
QScrollBar:add-page {
	background: none;
	width: 0;
	height: 0;
}
QScrollBar:sub-page {
	background: none;
	width: 0;
	height: 0;
}
QScrollBar:handle {
	background-color: rgba(121, 121, 121, 0.4);
}
QScrollBar:handle:vertical {
	min-height: 20px;
}
QScrollBar:handle:horizontal {
	min-width: 20px;
}
QScrollBar:handle:hover {
	background-color: rgba(100, 100, 100, 0.7);
}

ChooserContainer {
	border: 1px solid #1B1F20;
}
QGroupBox {
	border: 1px solid #1B1F20;
	margin-top: 5px;
}
QGroupBox:title {
	subcontrol-origin: margin;
	subcontrol-position: top center;
}
TextArrows {
	border-bottom: 1px solid #414141;
}

/* Color Theme */
CustomIDAMemo {
	border: none;
	qproperty-line-fg-default: #96b788;
	qproperty-line-fg-regular-comment: #6a9955;
	qproperty-line-fg-repeatable-comment: #808080;
	qproperty-line-fg-automatic-comment: #808080;
	qproperty-line-fg-insn: #d4d4d4;
	qproperty-line-fg-dummy-data-name: #9cdcfe;
	qproperty-line-fg-regular-data-name: #9cdcfe;
	qproperty-line-fg-demangled-name: #dcdcaa;
	qproperty-line-fg-punctuation: #d4d4d4;
	qproperty-line-fg-charlit-in-insn: #d7ba7d;
	qproperty-line-fg-strlit-in-insn: #00ff00;
	qproperty-line-fg-numlit-in-insn: #6a9955;
	qproperty-line-fg-void-opnd: #d7ba7d;
	qproperty-line-fg-code-xref: #6a9955;
	qproperty-line-fg-data-xref: #569cd6;
	qproperty-line-fg-code-xref-to-tail: #e51400;
	qproperty-line-fg-data-xref-to-tail: #808000;
	qproperty-line-fg-error: #010101;
	qproperty-line-fg-line-prefix: #c0c0c0;
	qproperty-line-fg-opcode-byte: #b5cea8;
	qproperty-line-fg-extra-line: #dcdcaa;
	qproperty-line-fg-alt-opnd: #9CDCFE;
	qproperty-line-fg-hidden: #d4d4d4;
	qproperty-line-fg-libfunc: #9cdcfe;
	qproperty-line-fg-locvar: #9cdcfe;
	qproperty-line-fg-dummy-code-name: #9cdcfe;
	qproperty-line-fg-asm-directive: #9cdcfe;
	qproperty-line-fg-macro: #c586c0;
	qproperty-line-fg-strlit-in-data: #ce9178;
	qproperty-line-fg-charlit-in-data: #ce9178;
	qproperty-line-fg-numlit-in-data: #6a9955;
	qproperty-line-fg-keyword: #c586c0;
	qproperty-line-fg-register-name: #9cdcfe;
	qproperty-line-fg-import-name: #c586c0;
	qproperty-line-fg-segment-name: #d4d4d4;
	qproperty-line-fg-dummy-unknown-name: #9cdcfe;
	qproperty-line-fg-code-name: #dcdcaa;
	qproperty-line-fg-unknown-name: #00ffff;
	qproperty-line-fg-collapsed-line: #6a9955;
	qproperty-line-bg-default: #1e1e1e;
	qproperty-line-bg-selected: #264F78;
	qproperty-line-pfx-libfunc: #00eaea;
	qproperty-line-pfx-func: #569cd6;
	qproperty-line-pfx-insn: #e51400;
	qproperty-line-pfx-data: #858585;
	qproperty-line-pfx-unexplored: #808000;
	qproperty-line-pfx-extern: #c586c0;
	qproperty-line-pfx-current-item: #CCCCCC;
	qproperty-line-pfx-current-line: #FFFFFF;
	qproperty-graph-bg-top: #252526;
	qproperty-graph-bg-bottom: #252526;
	qproperty-graph-node-title-normal: #2D2D2D;
	qproperty-graph-node-title-selected: #b1f9f9;
	qproperty-graph-node-title-current: #094771;
	qproperty-graph-node-frame-group: #ffff00;
	qproperty-graph-node-shadow: #000000;
	qproperty-graph-node-high1: #ccffff;
	qproperty-graph-node-high2: #ccffcc;
	qproperty-graph-node-foreign: #E51400;
	qproperty-graph-edge-normal: #616162;
	qproperty-graph-edge-yes: #008000;
	qproperty-graph-edge-no: #E51400;
	qproperty-graph-edge-high: #c586c0;
	qproperty-graph-edge-current: #007FD4;
	qproperty-line-fg-patched-bytes: #804040;
	qproperty-line-fg-unsaved-changes: #ff8000;
	qproperty-line-bg-highlight: #28639b;
	qproperty-line-bg-bpt-enabled: #e51400;
	qproperty-line-bg-bpt-disabled: #6E1A12;
	qproperty-line-bg-bpt-unavailable: #6E1A12;
}
TCpuRegs {
	qproperty-register-defined: #858585;
	qproperty-register-changed: #569cd6;
	qproperty-register-edited: #C586C0;
	qproperty-register-unavailable: #808080;
}
navband_t {
	qproperty-lib-function: #aaffff;
	qproperty-function: #00a2e8;
	qproperty-code: #b97a57;
	qproperty-data: #c0c0c0;
	qproperty-undefined: #b6b66b;
	qproperty-extern: #c586c0;
	qproperty-error: #ff5b5b;
	qproperty-gap: transparent;
	qproperty-cursor: #ffff7f;
	qproperty-auto-analysis-cursor: #ffaa00;
	qproperty-lumina-function: #32cd32;
}
MainMsgList {
	color: #cccccc;
	background-color: #1e1e1e;
}
TextArrows {
	qproperty-jump-in-function: #404040;
	qproperty-jump-external-to-function: #ff0000;
	qproperty-jump-under-cursor: #707070;
	qproperty-jump-target: #008000;
	qproperty-register-target: #4040ff;
}
TextEdit {
	qproperty-keyword1-fg: #9CDCFE;
	qproperty-keyword2-fg: #C586C0;
	qproperty-keyword3-fg: #ff0000;
	qproperty-string-fg: #CE9178;
	qproperty-comment-fg: #6A9955;
	qproperty-preprocessor-fg: #9CDCFE;
	qproperty-number-fg: #008b8b;
}
TChooser
{
    qproperty-highlight-bg-default: #613214;
    qproperty-highlight-bg-selected: #1B4358;
}
CustomIDAMemo[debugging="true"] {
	qproperty-line-bg-default: #1e1e1e;
	qproperty-line-bgovl-current-ip: #4b4b18;
}
CustomIDAMemo[hints="true"] {
	qproperty-line-bg-default: #252526;
}
navigator_t {
	height: 10px;
}
